.wrapper {
    font-family:sans-serif;
    width: 600px;
    margin: auto;
}

.item {
    padding: 10px;
}

.item:nth-child(2n) {
    background-color: #ddd;
}

.item  div {
    display: inline-block;
}

.item .info {
    text-transform: capitalize;
    width: 200px;
}

.item .framework {
    font-weight: bold;
}
.item .info .author {
    font-size: 60%;
    display: block;
}

.item .playground {
    width: 100px;
}
.item .playground a {
    text-decoration: underline;
    color: #400;
    cursor: pointer;
}
.item .playground a:hover {
    color: #d00;
}

.item .source  {
    float: right;
}
